.first{
    background-color: red;
    padding: 5px;
    margin: 5px;
    
}
.second{
    background-color: blue;
    padding: 5px;
    margin: 5px;
           
}
.third{
    background-color: green;
    padding: 5px;
    margin: 5px;   
         
}
.main-div {display:flex;}

 @media screen and (max-width:640px){
  .main-div{
      display:flex;
      flex-direction: column;
  }  
    
} 

    
